/*
* css code
* Author: @mrjopino
* Description: Presentation of gumokJS
*/
@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Varela+Round|Ubuntu);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}

body {
  background: #ebebeb;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

a {
  position: relative;
  color: #669ae1;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #39c;
}

h1 {
  color: #777e8c;
  font-weight: normal;
  font-family: "Fredoka One", sans-serif;
  font-size: 4.80em;
  text-align: center;
  margin-top: 1.20em;
}

h3,h4,h5 {
  font-family: "Varela round", sans-serif;
  color: #707070;
}
p {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #707070;
}
span {
  color: #ffd464;
  font-family: "Fredoka One", sans-serif;
  font-size: 1em;
}
.btn_download {
  background-color: #777e8c;
  -webkit-border-radius: 0.30em;
  -moz-border-radius: 0.30em;
  -ms-border-radius: 0.30em;
  -o-border-radius: 0.30em;
  border-radius: 0.30em;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Ubuntu", Sans-Serif;
  margin: 0.9em 0.8em 0;
  outline: none;
  padding: 0.80em 1.87em;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.btn_download:hover {
  background-color: #777e8c;
  opacity: .8;
  color: #fff;
}
.btn_download:active {
  -webkit-transform: scale(.96);
  -moz-transform: scale(.96);
  -ms-transform: scale(.96);
  -o-transform: scale(.96);
  transform: scale(.96);
}
section .icon-github {
  position: relative;
  display: block;
  margin: 4% auto;
  color: #333;
  cursor: pointer;
  text-align: center;
  font-size: 3em;
  font-weight: normal;
}
section .icon-github:hover {
  color: #000;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
[data-library-name]:hover::after {
  content: attr(data-library-name);
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  position: absolute;
  color: #ccc;
  background: #333;
  margin: 1.74em auto;
  width: 7em;
  font-size: .3em;
  padding: .1em;
  border-radius: .4em;
  height: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 2em);
  -moz-transform: translate(-50%, 2em);
  -ms-transform: translate(-50%, 2em);
  -o-transform: translate(-50%, 2em);
  transform: translate(-50%, 2em);
}
